.card {
    border: none;
    background-color: #eeeeee;
}

.row .col-md-8 .card-body h2{
    color: black;
}

.row .col-md-8 .card-body h2:hover {
    color: grey;
    transition: all .3s;
}

.row .col-md-8 .card-body a{
    text-decoration: none;
}